*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.elementIcon {
  width: 43px;
  height: 43px;
  color: #3a6b88;
}

ul,
li {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.trash:hover {
  animation: tilt-shaking 0.15s infinite;
  color: white;
  background-color: #3a6b88;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 2px solid #3a6b88;
  padding: 8px 16px 8px 16px;
  color: #3a6b88;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 2px 2px 5px;
  @media (max-width: 1300px) {
    position: relative;
    top: 0;
  }
}
.button:hover {
  background-color: #3a6b88;
  color: #fff;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fed;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
